<div class="modal-content position-absolute">
  <form class="position-absoulte" [formGroup]="contactForm">
    <button
      type="button"
      class="close mr-4"
      (click)="closeModal()"
      (ngSubmit)="onSubmit()"
    >
      &times;
    </button>

    <div class="d-flex flex-column col-10 mt-3">
      <div formGroupName="name">
        <div class="row">
          <div class="d-flex flex-column col-6">
            <label for="firstName">First Name(Required)</label>
            <input
              type="text"
              name="firstName"
              formControlName="firstName"
              required
            />
          </div>

          <div class="d-flex flex-column col-6">
            <label for="lastName">Last Name(Required)</label>
            <input
              type="text"
              name="lastName"
              formControlName="lastName"
              required
            />
          </div>
        </div>

        <div class="row">
          <div class="d-flex flex-column col-6">
            <div
              id="firstName-help"
              class="text-danger"
              *ngIf="
                firstName.invalid && (firstName.dirty || firstName.touched)
              "
            >
              <small *ngIf="firstName.errors?.required"
                >First Name is required.</small
              >
              <small *ngIf="firstName.errors?.minlength"
                >Min. 3 characters required.</small
              >
            </div>
          </div>

          <div class="d-flex flex-column col-6">
            <div
              id="lastName-help"
              class="text-danger"
              *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
            >
              <small *ngIf="lastName.errors?.required"
                >Last Name is required.</small
              >
              <small *ngIf="lastName.errors?.minlength"
                >Min. 3 characters required.
              </small>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex flex-column mt-2">
        <label for="email">Email(Required)</label>
        <input type="text" name="email" formControlName="email" required />
      </div>
      <div
        id="email-help"
        class="text-danger"
        *ngIf="email.invalid && (email.dirty || email.touched)"
      >
        <small *ngIf="email.errors?.required">Email is required</small>
        <small *ngIf="email.errors?.pattern"
          >Please enter email in the correct format</small
        >
      </div>

      <div class="d-flex mt-2">
        <div class="d-flex flex-column col px-0">
          <label for="mobile">Mobile(Required)</label>
          <input
            type="number"
            name="mobile"
            formControlName="mobileNumber"
            id="mobileNumber"
            required
          />
          <div
            *ngIf="
              mobileNumber.invalid &&
              (mobileNumber.dirty || mobileNumber.touched)
            "
          >
            <small
              id="mobile-help"
              class="text-danger d-flex flex-column col px-0"
              *ngIf="mobileNumber.errors?.required"
              >Mobile is required.</small
            >
            <small
              id="mobile-help"
              class="text-danger d-flex flex-column col px-0"
              *ngIf="mobileNumber.errors?.pattern"
              >Enter 10 digits mobile number.</small
            >
          </div>
        </div>

        <div class="d-flex flex-column col pr-0">
          <label for="landline">Landline</label>
          <input
            type="number"
            name="landline"
            formControlName="landlineNumber"
          />
          <small
            id="landline-help"
            class="text-danger row d-flex flex-column col pr-0"
            *ngIf="landlineNumber.errors?.pattern"
            >Enter 10 digits landline number.</small
          >
        </div>
      </div>

      <div class="d-flex flex-column mt-2">
        <label for="website">Website</label>
        <input type="text" name="website" formControlName="websiteURL" />
      </div>
      <small
        id="website-help"
        class="text-danger"
        *ngIf="websiteURL.errors?.pattern"
        >Enter website in correct format.</small
      >

      <div formGroupName="address">
        <div class="d-flex flex-column mt-2">
          <label>Address Line 1</label>
          <textarea
            name="addressLine1"
            rows="3"
            formControlName="addressLine1"
          ></textarea>
        </div>

        <div class="d-flex flex-column mt-2">
          <label>Address Line 2</label>
          <textarea
            name="addressLine2"
            rows="3"
            formControlName="addressLine2"
          ></textarea>
        </div>
      </div>
    </div>

    <div class="d-flex mt-5 mb-3 float-right mr-2">
      <button
        name="button"
        id="submission"
        class="btn btn-success px-5"
        type="submit"
        (click)="onSubmit()"
        [disabled]="contactForm.invalid"
      >
        {{ !isUpdate ? 'Add' : 'Update' }}
      </button>
    </div>
  </form>
</div>
